#scoreboard {
  font-family: Helvetica;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00BFFF;
  color: white;
  margin: -8px;
  text-align: center;
}

#scoreboard .divider {
  background-color: white;
  height: 10px;
}

#scoreboard .score {
  font-size: 17em;
  font-weight: bold;
}

#scoreboard .teamName {
  font-size: 10em;
  font-weight: lighter;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#scoreboard.buzzed {
  background-color: #FFC966;
}

.adminPanelButton {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}
.adminPanelButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}
.adminPanelButton:active {
  position:relative;
  top:1px;
}

#adminPanel {
  font-family: Arial;
  font-size: 2em;
}

#adminPanel #pointsValue {
  height: 70px;
  width: 300px;
  font-size: 2em;
}

#adminPanel #buzzerValue {
  font-size: 6em;
  position: fixed;
  right: 20%;
  top: 20%;
  color: red;
}

#adminPanel .teamScore {
  margin-top: 20px;
  margin-bottom: 20px;
}
