<div id="adminPanel">
  <div id="buzzerValue">{{buzzerName}}</div>
    <div>Current question value</div>
    <input id="pointsValue" type="number" min=0 ng-model="scoreValue"></input>
    <div id="scores" ng-repeat="score in scores">
        <div class="teamScore">
            Team {{score.team}}: {{score.points}}
            <button class="adminPanelButton" ng-click="correct(score.team)">Correct</button>
            <button class="adminPanelButton" ng-click="incorrect(score.team)">Incorrect</button>
        </div>
    </div>

    <div>Other functions</div>
    <button class="adminPanelButton" ng-click="startListening()">Accept buzzer input</button>
    <button class="adminPanelButton" ng-click="clearBuzzer()">Clear buzzer</button>
</div>